# Node
node_modules/
lib/
dist/
npm-debug.log
yarn-debug.log
yarn-error.log

# Builds
android/.gradle/
android/build/
**/android/build/
ios/build/
ios/Pods/
ios/DerivedData/
DerivedData/

# IDEs
.vscode/
.idea/
.claude/
*.iml

# OS files
.DS_Store

# Misc
*.jks
*.xcresult
coverage/
docs/
classes.jar
junit.xml
.agents/

# Turborepo folder for persisting logs and outputs 
.turbo
.sdk/
