# Copyright (c) 2026 Ping Identity Corporation. All rights reserved.
#
# This software may be modified and distributed under the terms
# of the MIT license. See the LICENSE file for details.

# Journey config
JOURNEY_SERVER_URL=https://your-journey-host.example.com/am
JOURNEY_REALM=your-journey-realm
JOURNEY_COOKIE=your-journey-cookie-name
JOURNEY_CLIENT_ID=your-journey-client-id
JOURNEY_DISCOVERY_ENDPOINT=https://your-journey-host.example.com/am/oauth2/your-journey-realm/.well-known/openid-configuration
JOURNEY_REDIRECT_URI=com.yourapp://oauth2redirect
JOURNEY_SCOPES=openid,email,profile,address
JOURNEY_SHOW_DEBUG_PANEL=false

# PingAdvancedIdentityCloud config
AIC_SERVER_URL=https://your-aic-host.example.com/am
AIC_REALM=your-aic-realm
AIC_COOKIE=your-aic-cookie-name
AIC_CLIENT_ID=your-aic-client-id
AIC_DISCOVERY_ENDPOINT=https://your-aic-host.example.com/am/oauth2/your-aic-realm/.well-known/openid-configuration
AIC_REDIRECT_URI=com.yourapp://oauth2redirect
AIC_SCOPES=openid,profile,email,address,phone
AIC_AUTH_SERVICE_NAME=your-auth-service-name
AIC_REGISTRATION_SERVICE_NAME=your-registration-service-name

# PingOne OIDC config
PINGONE_CLIENT_ID=your-pingone-client-id
PINGONE_DISCOVERY_ENDPOINT=https://auth.pingone.ca/your-environment-id/as/.well-known/openid-configuration
PINGONE_REDIRECT_URI=org.forgerock.demo://oauth2redirect
PINGONE_SCOPES=openid,email,address
PINGONE_ACR_VALUES=your-flow-acr-id
PINGONE_ENVIRONMENT_LABEL=PingOne Flow
